.mainChat
  .mainChat__groupInfo
    .group
      .group__name
        = @group.name
      .group__member
        Member：
        .group__member--name
          - @users.each do |user|
            = user.name
    .edit
      = link_to "#", class: "edit__btn" do
        Edit
  .mainChat__messageList
    - @messages.each do |message|
      .messageItem
        %ul.messageItem__post
          %li.messageItem__post--contributor
            = message.user.name
          %li.messageItem__post--date
            = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
        .messageItem__text
          - if message.content.present?
            = message.content
          = image_tag message.image.url, class: 'messageItem__text--image' if message.image.present?
  .mainChat__messageForm
    = form_with model: [@group, @message], html: {class: "mainChat__messageForm--form"}, local: true do |f|
      .inputBox
        = f.text_field :content, class: 'inputBox__text', placeholder: 'type a message'
        = f.label :image, class: 'inputBox__image' do
          = icon('fas', 'image', class: 'inputBox__image--icon')
          = f.file_field :image, class: 'inputBox__image--file'
      = f.submit 'Send', class: 'sendBtn'