.mainChat
  .mainChat__groupInfo
    .group
      .group__name
        グループ名
      %ul.group__member
        Member：
        %li.group__member--name
          name
    .edit
      = link_to "#", class: "edit__btn" do
        Edit
  .mainChat__messageList
    - @messages.each do |message|
      .messageItem
        %ul.messageItem__post
          %li.messageItem__post--contributor
            = message.user.name
          %li.messageItem__post--date
            2020/07/27(Mon) 17:01
        .messageItem__text
          = message.content
  .mainChat__messageForm
    = form_with model: [@group, @message], html: {class: "mainChat__messageForm--form"}, local: ture |f|
    .inputBox
      = f.text_field :content, class: 'inputBox__text', placeholder: 'type a message'
      = f.label :image, class: 'inputBox__image'
        = icon('fas', 'image', class: 'inputBox__image--icon')
        = f.file_field :image, class: 'inputBox__image--file'
    = f.submit 'Send', class: 'sendBtn'